*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:content-box;
}

/* CSS for main page*/
header{
    display:flex;
    font-size:18px;
    width:100%;
    justify-content:space-between;
    align-items:center;
    height:40px;
}

#highScores{
    text-decoration:none;
    color: teal;
}

.title{
    width: 100%;
    font-size:28px;
    font-weight:bolder;
    color:teal;
}

main{
    display:flex;
    align-items:center;
    justify-content: center;
}

.pageContent{
    flex-wrap:wrap;
    max-width:450px;
    text-align:center;
}

/* css for page when displaying question and answers */
.choices{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:left;
    text-align:left;
}

.btn{
    background-color:teal;
    border: none;
    color:white;
    padding:5px 8px;
    text-align:center;
    border-radius:5px;
    font-size:18px;
}

.btn:active{
    opacity: 0.5;
}

.question{
    font-size:24px;
    text-align:left;
    font-weight:lighter;
}

.answerChoice{
    display:flex;
    margin-bottom: 7px;
    background-color:teal;
    font-size: 18px;
    border: none;
    color:white;
    padding:2px 10px;
    border-radius:5px;
}

.answerChoice:active{
    opacity: 0.5;
}

/*CSS for displaying current user score*/
.scoreTitle{
    color: teal;
    text-align: left;
    line-height: 0px;
    font-size:28px;
}

.display{
    text-align:left;
    line-height:20px;
    font-size:24px;
}

.label{
    font-size:18px;
}

.inputEl{
    margin-left:5px;
}

.toHsPage{
    font-size:18px;
    margin-left:5px;
    background-color:teal;
    font-size: 18px;
    border: none;
    color:white;
    padding:2px 10px;
    border-radius:5px;
}

/* CSS for high scores page */
#highScorePage{
    display:flex;
    align-items: center;
    justify-content:center;
}

.centerList{
    display:flex;
    align-items:center;
    justify-content:center;
}

h2#hSPageTitle{
    color:teal;
    font-weight:bolder;
}

.listHs{
    list-style:none;
}

.goBack{
    text-decoration:none;
    color:white;
}

.formSubmit{
    display:flex;
}
